@model AIDungeonPrompts.Application.Queries.GetPrompt.GetPromptViewModel
@{
	ViewData["Title"] = Model.Title;
	var reported = (bool)ViewData["reported"];
}
@if(reported)
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		You have successfully reported this prompt.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}
<div class="d-flex">
	<div>
		<h3>@Model.Title</h3>
		<p>Created on @Model.DateCreated.ToShortDateString()</p>
	</div>
	<div class="ml-auto">
		<a asp-action="Report" asp-route-id="@Model.Id" class="btn btn-danger">Report</a>
	</div>
</div>
<p>
	Tags:
	@if (Model.Nsfw)
	{
		<a asp-controller="Search" asp-action="Index" asp-route-NsfwSetting="2">
			<code class="badge badge-danger">NSFW</code>
		</a>
	}
	@foreach (var tag in Model.PromptTags)
	{
		<a asp-controller="Search" asp-action="Index" asp-route-Tags="@tag.Name">
			<code class="badge badge-primary">@tag.Name</code>
		</a>
	}
</p>

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
	
	<h5>@Html.DisplayNameFor(m => m.Description)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Description)</code>
		</div>
	</div>
}

<h5>@Html.DisplayNameFor(m => m.PromptContent)</h5>
<div class="card mb-4">
	<div class="card-body">
		<code class="card-text pre-line">@Html.DisplayFor(m => m.PromptContent)</code>
	</div>
</div>


@if (!string.IsNullOrWhiteSpace(Model.Memory))
{
	<h5>@Html.DisplayNameFor(m => m.Memory)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Memory)</code>
		</div>
	</div>
}

@if (!string.IsNullOrWhiteSpace(Model.AuthorsNote))
{
	<h5>@Html.DisplayNameFor(m => m.AuthorsNote)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.AuthorsNote)</code>
		</div>
	</div>
}

@if (!string.IsNullOrWhiteSpace(Model.Quests))
{
	<h5>@Html.DisplayNameFor(m => m.Quests)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Quests)</code>
		</div>
	</div>
}

@if (Model.WorldInfos.Any())
{
	<h5 class="card-title">@Html.DisplayNameFor(m => m.WorldInfos)</h5>
	<div class="row">
		@foreach (var worldInfo in Model.WorldInfos)
		{
			<div class="col-sm-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5>@Html.DisplayNameFor(_ => worldInfo.Keys)</h5>
						<code class="card-text pre-line">@Html.DisplayFor(_ => worldInfo.Keys)</code>
						<hr />
						<h5>@Html.DisplayNameFor(_ => worldInfo.Entry)</h5>
						<code class="card-text pre-line">@Html.DisplayFor(_ => worldInfo.Entry)</code>
					</div>
				</div>
			</div>
		}
	</div>
}
