@model ViewPromptViewModel
@using AIDungeonPrompts.Application.Helpers
@{
	ViewData["Title"] = Model.Prompt.Title;
	var isChild = Model.Prompt.ParentId.HasValue;
	var showEdit = false;
	if (userService.TryGetCurrentUser(out var user) && (
			user!.Id == Model.Prompt.OwnerId ||
			RoleHelper.CanEdit(user.Role)
		)
	)
	{
		showEdit = true;
	}
}
@if (Model.Reported ?? false)
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		You have successfully reported this prompt.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}
@if (isChild)
{
	<div class="alert alert-primary">
		You are viewing a sub scenario. <a asp-action="View" asp-route-id="@Model.Prompt.ParentId">Click here to return to the parent.</a>
	</div>
	<br />
}
<div class="d-flex">
	<div>
		<h3>
			@if (Model.Prompt.IsDraft)
			{
				<span class="mr-2 badge badge-warning">Draft</span>
			}
			@Model.Prompt.Title
		</h3>
		@if (!isChild)
		{ 
			<p>Created on @Model.Prompt.DateCreated.ToString("yyyy/MM/dd")</p>
		}
	</div>
	<div class="ml-auto d-flex">
		@if (showEdit)
		{
			<div>
				<a asp-action="Edit" asp-route-id="@Model.Prompt.Id" class="btn btn-outline-success mr-2 px-3">Edit</a>
			</div>
		}
		<div>
			<a asp-action="Report" asp-route-id="@Model.Prompt.Id" class="btn btn-outline-danger">Report</a>
		</div>
	</div>
</div>
@if (!isChild)
{
	<p>
		Tags:
		@if (Model.Prompt.Nsfw)
		{
			<a class="badge badge-danger" asp-controller="Home" asp-action="Index" asp-route-NsfwSetting="2">
				NSFW
			</a>
		}
		@foreach (var tag in Model.Prompt.PromptTags)
		{
			<a class="badge badge-primary" asp-controller="Home" asp-action="Index" asp-route-Tags="@tag.Name">
				@tag.Name
			</a>
		}
	</p>
}

@if (!string.IsNullOrWhiteSpace(Model.Prompt.Description))
{

	<h5>@Html.DisplayNameFor(m => m.Prompt.Description)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Prompt.Description)</code>
		</div>
	</div>
}

<h5>@Html.DisplayNameFor(m => m.Prompt.PromptContent)</h5>
<div class="card mb-4">
	<div class="card-body">
		<code class="card-text pre-line">@Html.DisplayFor(m => m.Prompt.PromptContent)</code>
	</div>
</div>


@if (!string.IsNullOrWhiteSpace(Model.Prompt.Memory))
{
	<h5>@Html.DisplayNameFor(m => m.Prompt.Memory)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Prompt.Memory)</code>
		</div>
	</div>
}

@if (!string.IsNullOrWhiteSpace(Model.Prompt.AuthorsNote))
{
	<h5>@Html.DisplayNameFor(m => m.Prompt.AuthorsNote)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Prompt.AuthorsNote)</code>
		</div>
	</div>
}

@if (!string.IsNullOrWhiteSpace(Model.Prompt.Quests))
{
	<h5>@Html.DisplayNameFor(m => m.Prompt.Quests)</h5>
	<div class="card mb-4">
		<div class="card-body">
			<code class="card-text pre-line">@Html.DisplayFor(m => m.Prompt.Quests)</code>
		</div>
	</div>
}

@if (Model.Prompt.WorldInfos.Any())
{
	<div class="d-flex mb-2">
		<h5 class="mt-auto mb-0 card-title mr-auto">@Html.DisplayNameFor(m => m.Prompt.WorldInfos)</h5>
		<a class="btn btn-secondary" asp-action="DownloadWorldInfo" asp-route-Id="@Model.Prompt.Id">Download JSON</a>
	</div>
	<div class="row">
		@foreach (var worldInfo in Model.Prompt.WorldInfos)
		{
			<div class="col-sm-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h5>@Html.DisplayNameFor(_ => worldInfo.Keys)</h5>
						<code class="card-text pre-line">@Html.DisplayFor(_ => worldInfo.Keys)</code>
						<hr />
						<h5>@Html.DisplayNameFor(_ => worldInfo.Entry)</h5>
						<code class="card-text pre-line">@Html.DisplayFor(_ => worldInfo.Entry)</code>
					</div>
				</div>
			</div>
		}
	</div>
}

@if (Model.Prompt.Children.Any())
{
	<h5>Sub Scenarios</h5>
	@Html.DisplayFor(m => m.Prompt.Children)
}

