@using System.Text.RegularExpressions
@model AIDungeonPrompts.Application.Commands.UpdatePrompt.UpdatePromptCommandWorldInfo
@{
	var disabled = ViewData["Disabled"] != null ? (bool) ViewData["Disabled"] : false;
	var prefix = ViewData.TemplateInfo.HtmlFieldPrefix;
	var m = Regex.Match(prefix, @".+\[(\d+)\]");
	var index = m.Groups[1].Value;
	var fragment = int.TryParse(index, out var intIndex)
		? intIndex < 1
			? "world-info-card-0"
			: $"world-info-card-{intIndex - 1}"
		: "upload-wi";
}

<div id="world-info-card-@index" class="card mb-4">
	<div class="card-body">
		<div class="form-group">
			@Html.LabelFor(m => m.Keys)
			<input readonly="@disabled" asp-for="Keys" class="form-control"/>
			<span asp-validation-for="Keys"></span>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Entry)
			<textarea readonly="@disabled" asp-for="Entry" class="form-control"></textarea>
			<span asp-validation-for="Entry"></span>
		</div>
		<div class="d-flex">
			<button asp-fragment="@fragment" asp-route-wiDelete="@index" class="world-info-delete-btn ml-auto btn btn-outline-danger">Delete</button>
		</div>
	</div>
</div>
